---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <Header/>
    <section>
        <div class="titulo">
            <h1>Animaciones<div class="linea"></div></h1>
        </div>
        <div class="animaciones">
            <div class="anim anim1">
                <div class="bola1"></div>
            </div>
            <div class="anim anim2">
                <div class="bola2"></div>
            </div>
            <div class="anim anim3">
                <div class="bola3"></div>
            </div>
            <div class="anim anim2">
                <div class="bola4"></div>
            </div>
        </div>
    </section>
    <Footer/>
</Layout>

<style lang="scss">
@keyframes notificacion {
  30% { transform: scale(1.2);border-radius: 10px; }
  40%, 60% { transform: rotate(-20deg) scale(1.2);border-radius: 10px; }
  50% { transform: rotate(20deg) scale(1.2);border-radius: 10px }
  70% { transform: rotate(0deg) scale(1.2);border-radius: 10px }
  100% { transform: scale(1); }
}

@keyframes agitar {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

@keyframes gelatina {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}
  
@keyframes botar {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
    .bola1 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #575880;
        animation: botar 2s ease infinite;
    }
    .bola2 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #575880;
        animation: gelatina 0.8s infinite;
    }
    .bola3 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #575880;
        animation: agitar 2s ease infinite;
    }
    .bola4 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #575880;
        animation: notificacion 1s ease infinite;
    }
    .animaciones {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }
    .anim {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .linea {
            height: 5px;
            width: 100%;
            background-color: #6B9BD2;
        }
    .titulo {
        height: 15%;
        width: 80%;
        color: #575880;
        font-size: 40px;
    }
    section {
        height: 82vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    @keyframes aparecer {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @media only screen and (max-width: 426px) {
        .titulo {
            font-size: 1.2em;
        }
        .animaciones {
        flex-direction: column;
        .anim {
        width: 100%;
        height: 100%;
    }
    }
    }
</style>