---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";


---
<Layout>
    <Header/>
    <section>
        <h1>Cubo en 3D</h1>
    </section>
    <Footer/>
</Layout>

<style lang="scss">
    section {
        height: 82vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
</style>