---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";


---
<Layout>
    <Header/>
    <section>
        <div class="titulo">
            <h1>Transiciones con botones <div class="linea"></div></h1>
        </div>
        <div class="botones">
            <div class="cuadro c1"><button class="boton boton1">Button</button></div>
            <div class="cuadro c2"><button class="boton boton2">Button</button></div>
            <div class="cuadro c3"><div class="botontres"><button class="boton boton3">Button</button></div></div>
            <div class="cuadro c4"><button class="boton boton4">Button</button></div>
            <div class="cuadro c5"><button class="boton boton5">Button</button></div>
            <div class="cuadro c6"><button class="boton boton6">Button</button></div>
            <div class="cuadro c7"><button class="boton boton7">Button</button></div>
            <div class="cuadro c8"><button class="boton boton8">Button</button></div>
            <div class="cuadro c9"><button class="boton boton9">Button</button></div>
            <div class="cuadro c10"><button class="boton boton10">Button</button></div>
            <div class="cuadro c11"><button class="boton boton11">Button</button></div>
            <div class="cuadro c12"><button class="boton boton12">Button</button></div>
        </div>
    </section>
    <Footer/>
</Layout>

<style lang="scss">
    .boton1:hover {
        transform: scale(1.2);
    }
    .boton2:hover {
        transform: scale(0.8);
    }
    .botontres {
        background-color: black;
    }
    .boton3:hover {
        transform: translateY(-6px);
    }
    .boton4:hover {
        transform: translateY(6px);
    }
    .boton5:hover {
        background-color: black;
        color: white;
    }
    .boton6:hover {
        border-radius: 30px;
    }
    .boton7:hover {
        letter-spacing: 3px;
    }
    .boton8:hover {
        box-shadow: 0px 0px 10px black;
    }
    .boton9:hover {
        box-shadow: inset 0px 0px 5px black;
    }
    .boton10:hover {
        transform: rotate(10deg);
    }
    .boton11:hover {
        transform:translateX(8px) translateY(-8px);
        box-shadow: -10px 10px 10px black;
    }
    .boton12:hover {
        transform:rotateX(360deg);
    }





    .c1 {
        animation: aparecer 0.5s 0s 1 ease-in forwards;
    }
    .c2 {
        animation: aparecer 0.5s 0.05s 1 ease-in forwards;
    }
    .c3 {
        animation: aparecer 0.5s 0.1s 1 ease-in forwards;
    }
    .c4 {
        animation: aparecer 0.5s 0.15s 1 ease-in forwards;
    }
    .c5 {
        animation: aparecer 0.5s 0.2s 1 ease-in forwards;
    }
    .c6 {
        animation: aparecer 0.5s 0.25s 1 ease-in forwards;
    }
    .c7 {
        animation: aparecer 0.5s 0.3s 1 ease-in forwards;
    }
    .c8 {
        animation: aparecer 0.5s 0.35s 1 ease-in forwards;
    }
    .c9 {
        animation: aparecer 0.5s 0.4s 1 ease-in forwards;
    }
    .c10 {
        animation: aparecer 0.5s 0.45s 1 ease-in forwards;
    }
    .c11 {
        animation: aparecer 0.5s 0.5s 1 ease-in forwards;
    }
    .c12 {
        animation: aparecer 0.5s 0.55s 1 ease-in forwards;
    }


    .boton {
        padding: 15px 20px;
        border: 0;
        font-size: 1.1em;
        font-weight:700;
        transition: all ease .55s;
        cursor: pointer;
    }
    .cuadro {
        width: 150px;
        height: 150px;
        margin: 50px;
        display: flex;
        background-color: #6b9bd25d;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.588);
        opacity: 0;
        transform: translateY(-10px);
    }
    .botones {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .linea {
            height: 5px;
            width: 100%;
            background-color: #6B9BD2;
        }
    .titulo {
        height: 15%;
        width: 80%;
        color: #575880;
        font-size: 40px;
    }
    section {
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    @keyframes aparecer {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @media only screen and (max-width: 426px) {
        .titulo {
            font-size: 1.2em;
        }
    }
</style>