---

---
<footer>
    <h2 class="pie">© Alejandro Sastre. 2024 All rights reserved</h2>
</footer>

<style lang="scss">
    footer {
        height: 8vh;
         width: 100%;
        background-color: #F1F5F9;
        z-index: 6;
        }
    .pie {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.2em;
        color: #6B9BD2;
    }
    @media only screen and (max-width: 320px) {
                .repotxt {
                    font-size: 0.8em;
                }
                .csstxt {
                    font-size: 0.8em;
                }
            }
            @media only screen and (max-width: 426px) {
                footer {
                    width: 100%;
                    font-size: 0.7em;
                }
            }


    @media only screen and (min-width: 1920px) and (max-width: 4000px) {
        .pie {
            font-size: 2em;
        }
    }
</style>